h1 {
  text-align: center;
  font-variant: small-caps;
  font-size: 4.5em;
  color: crimson;
  margin-bottom: .2em;
  text-shadow: 2px 2px 4px #000000;
  margin-top: 0.0em;
}

body {
 /* background-color: #C69C6D;
  background-image: linear-gradient(#42210B, #C69C6D);*/
  background-image: linear-gradient(#023867, #f6f7f7);
  height: 1000px;
  box-sizing: border-box;
  font-family: 'Cinzel', sans-serif;
}

button {
  padding: 5px;
  margin-left: 8px;
  margin-top: 7px;
  display: block;
  width: 46%;
  height: 2.5em;
  font-family: 'Roboto', sans-serif;
  float: left;
  border: 1px solid #000;
  background-color: aliceblue;
  font-weight: bold;
  box-shadow: 2px 2px 4px #000;
}

.button_correct {
  background-color: green;
  color: white;
}

.button_wrong {
  background-color: red;
  color: white;
}


button:hover {
  cursor: pointer;
}

input {
  padding: 5px;
  margin-left: 20px;
  margin-top: 5px;
  margin-bottom: 20px;
  display: block;
  width: 440px;
  height: 2.5em;
  font-family: 'Roboto', sans-serif;
}

input:hover {
  cursor: pointer;
}

h2 {
  margin-left: 20px;
  color: black;
  font-size: 1.6em;
  text-align: center;
  /*min-height: 2em;*/
}

.quizContainer {
  /* background-color: #A67C52; */
  /* border-radius: 10px; */
  /* border: 1px solid #fff; */
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  width: 480px;
  overflow: hidden;
}

img {
    border: 2px solid #fff;
    box-shadow: 2px 2px #4e4d4d;
}

.image {
  width: 442px;
  min-height: 225px;
  border: 0px solid #000;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.score ul li {
  display: inline-block;
}

.answers {
  margin-bottom: 5px;
}

.hint {
  width: 220px;
  float: left;
  /* background-color: green; */
  height: 30px;
  margin-left: 8px;
  margin-top: 9px;
  margin-bottom: 20px;
}

.score {
  width: 190px;
  float: left;
  text-align: left;
  margin-top: 23px;
  margin-left: 54px;
  margin-bottom: 5px;
  font-family: 'Cinzel', sans-serif;
  font-size: 2em;
  font-weight: bold;
  color: crimson;
  text-shadow: 2px 2px 4px #000000;
}

button.HintButton {
    width: 100%;
    margin-left: 31px;
    margin-top: 8px;
    /* margin-bottom: 5px; */
    background-color: midnightblue;
    border: 1px solid white;
    color: white;
}

.hintClueBox {
  display: none;
}

.hintClue {
  margin-left: 8px;
  margin-top: 0px;
  border: 1px solid #fff;
  background-color: midnightblue;
  max-width: 429px;
  padding: 10px;
  color: white;
  font-family: 'Roboto', sans-serif;
}

.hintText {
  font-weight: bold;
}

#hintInfo {
    display: none;
}

p {
  margin-left: 20px;
}


@media screen and (max-width: 480px) {
  body {
    background-color: #C69C6D;
    background-image: linear-gradient(#42210B, #C69C6D);
    box-sizing: border-box;
    font-family: 'Cinzel', sans-serif;
  }

  .quizContainer {
      background-color: #A67C52;
      border-radius: 10px;
      border: 1px solid #fff;
      margin-top:10px;
      overflow: hidden;
      max-width: 350px;
  }

  h1 {
    text-align: center;
    font-variant: small-caps;
    font-size: 1.8em;
  }

  h2 {
    margin-left: 17px;
    color: white;
    font-size: 1.1em;
    text-align: center;"
  }

  img {
      border: 2px solid #fff;
      box-shadow: 2px 2px #4e4d4d;
      max-width: 70%
  }

  .image {
      /* width: 442px; */
      /* min-height: 225px; */
      /* border: 0px solid #000; */
      /* margin-left: auto; */
      /* margin-right: auto; */
      /* text-align: center; */
      margin-bottom: -2em;
  }

.hint {
  width: 40%;
  float: left;
  /*background-color: green;*/
  height: 30px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.score {
  width: 40%;
  float: left;
  text-align: right;
  margin-top: 14px;
  margin-left: 20px;
  margin-bottom: 5px;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  color: white;
}

.hintClue {
  margin-left: 20px;
  margin-top: 0px;
  border: 1px solid #fff;
  background-color: #3CB371;
  max-width: 19.7em;
  padding: 10px;
}

button {
  padding: 5px;
  margin-left: 20px;
  margin-top: 5px;
  display: block;
  width: 19.2em;
  height: 2.5em;
  font-family: 'Roboto', sans-serif;
}

  img {
      border: 2px solid #fff;
      box-shadow: 2px 2px #4e4d4d;
      max-width: 70%;
      text-align: left;
      margin-right: 90px;
  }

input {
  padding: 5px;
  margin-left: 20px;
  margin-top: 5px;
  margin-bottom: 20px;
  display: block;
  width: 19.2em;
  height: 2.5em;
  font-family: 'Roboto', sans-serif;
}

p {
  margin-left: 20px;
  font-size: .9em;
  line-height: 1.2em;
}

}
