h1 {
  text-align: center;
  font-variant: small-caps;
}

body {
  background-color: #C69C6D;
  background-image: linear-gradient(#42210B, #C69C6D);
  height: 1000px;
  box-sizing: border-box;
  font-family: 'Cinzel', sans-serif;
}

button {
  padding: 5px;
  margin-left: 20px;
  margin-top: 5px;
  display: block;
  width: 440px;
  height: 2.5em;
  font-family: 'Roboto', sans-serif;
}

.button_correct {
  background-color: green;
  color: white;
}

.button_wrong {
  background-color: red;
  color: white;
}


button:hover {
  cursor: pointer;
}

input {
  padding: 5px;
  margin-left: 20px;
  margin-top: 5px;
  margin-bottom: 20px;
  display: block;
  width: 440px;
  height: 2.5em;
  font-family: 'Roboto', sans-serif;
}

input:hover {
  cursor: pointer;
}

h2 {
  margin-left: 20px;
  color: white;
  font-size: 1.3em;
  min-height: 2em;
}

.quizContainer {
  background-color: #A67C52;
  border-radius: 10px;
  border: 1px solid #fff;
  margin-top:50px;
  margin-left: auto;
  margin-right: auto;
  width: 480px;
  overflow: hidden;
}

img {
    border: 2px solid #fff;
    box-shadow: 2px 2px #4e4d4d;
}

.image {
  width: 442px;
  min-height: 225px;
  border: 0px solid #000;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.score ul li {
  display: inline-block;
}

.answers {
  margin-bottom: 5px;
}

.hint {
  width: 210px;
  float: left;
  /*background-color: green;*/
  height: 30px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.score {
  width: 210px;
  float: left;
  text-align: right;
  margin-top: 14px;
  margin-left: 20px;
  margin-bottom: 5px;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  color: white;
}

button.HintButton {
    width: 100%;
    margin-left: 0px;
    margin-top: 0px;
    /* margin-bottom: 5px; */
}

.hintClueBox {
  display: none;
}

.hintClue {
  margin-left: 20px;
  margin-top: 51px;
  border: 1px solid #fff;
  background-color: #3CB371;
  max-width: 420px;
  padding: 10px;
}

.hintText {
  font-weight: bold;
}

#hintInfo {
    display: none;
}

p {
  margin-left: 20px;
}

